
/* Fondo colorido con gradiente */
body {
    background: linear-gradient(45deg, #ff6b6b, #f7b7a3, #f5d300, #4dd0e1);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: #333;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Estilo del título */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Contenedor de los regalos */
.gifts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 80%;
}

/* Estilos para los iconos de regalo */
.gift {
    margin: 20px;
    cursor: pointer;
    position: relative;
    animation: bounce 1s infinite;
}

.gift-icon {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto cuando el usuario pasa el ratón por encima del icono */
.gift-icon:hover {
    transform: scale(1.3);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

/* Animación de rebote para los iconos */
@keyframes bounce {
    0% { transform: translateY(0); }
    25% { transform: translateY(-15px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

/* Modal que muestra la imagen */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.modal-content {
    width: 80%;
    max-width: 700px;
    margin: auto;
    border-radius: 15px;
}
.modalImage {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}